@{theme-scope} {
  .image-controls,
  .image-container {
    background-color: @panel-bg !important;
  }

  .image-controls-group {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
    display: flex;
    gap: 1rem;
  }

  .image-controls-group button {
    color: @text-primary !important;
    cursor: pointer !important;
  }

  .image-controls-group button:focus,
  .image-controls-group button:active {
    outline: none !important;
  }

  .image-controls-group.btn-group > .btn {
    border: none !important;
  }

  .image-controls-color-black {
    display: none !important;
  }
}
