@{theme-scope} {
  .package-card,
  .package-card:hover {
    background: @sidebar-bg;
  }

  .settings-view .package-card .package-name {
    color: @text-primary;
  }

  .package-card a {
    color: @text-primary;
  }
}
