@{theme-scope} {
  .welcome {
    background: @panel-bg !important;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
  }

  .welcome-summary {
    background: @surface-active;
  }

  .welcome-summary:hover {
    color: @text-primary !important;
  }

  .welcome-detail {
    background: @surface-active !important;
  }

  .welcome-card {
    border: none;
  }

  .welcome-highlight,
  .welcome_text-accent {
    color: @accent;
  }
}
